.toolbar {
  /* position: fixed; */
  width: 100%;
  display: flex;
  height: 40px;
  background: #41788f;
  align-items: center;
  padding: 10px;
}
.toolbar div {
  color: #fff;
  padding: 13px 15px;
}
.symbole {
  flex-grow: 2;
}

.fill {
  flex-grow: 1;
}
.fill input {
  width: 95%;
  margin: 4px;
  height: 20px;
  font-size: 18px;
  border-radius: 15px;
  padding: 8px;
}
.fill select {
  order: 2;
}
.toolbar .toolbar-container {
  display: inline-flex;
}
.dropdown {
  flex-grow: 3;
}
.dropdown select {
  width: 160px;
  height: 35px;
  border-radius: 10px;
  padding: 8px;
}
