<div class="toolbar">
  <div class="symbole"></div>

  <div class="fill">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="searchName"
      placeholder="Search.."
      id="name"
      (ngModelChange)="sendMessage()"
    />
  </div>
  <div class="dropdown">
    <select [(ngModel)]="selectedOption" (ngModelChange)="selectedOrder()">
      <option *ngFor="let sort of sorts">
        {{ sort.name }}
      </option>
    </select>
  </div>
</div>

<!-- 
     <select
      class="dropdown-content"
      [(ngModel)]="selectedOption"
      (ngModelChange)="selectedOrder()"
    >
      <option value="" selected disabled hidden>Sort By</option>
      <option value="name">Name(A-Z)</option>
      <option value="name">Name(Z-A)</option>
      <option value="rank">Rank &#8593;</option>
      <option value="rank">Rank &#8595;</option>
    </select>
 -->
