div {
  background-color: #f1f1f1;
}
ul.pagination {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-content: center;
}

ul.pagination li {
  display: flex;
  /* padding: 8px 16px;
  text-decoration: none; */
}

ul.pagination li a,
button {
  /* display: flex; */
  padding: 8px 16px;
  text-decoration: none;
  border: 0px;
}

ul.pagination button {
  background-color: #f1f1f1;
}

ul.pagination button:hover {
  background-color: #ddd;
}
ul.pagination li.nth {
  padding: 8px 16px;
  text-decoration: none;
}

ul.pagination li a.active {
  background-color: #40d47e;
  color: #fff;
  border: 1px solid #40d47e;
}

ul.pagination li a:hover:not(.active) {
  background-color: #ddd;
}
