<div *ngIf="isShow">
  <ul class="pagination">
    <button (click)="prev()">&#171;</button>
    <li *ngFor="let a of pagination_no">
      <a href="#" (click)="display(a)">{{ a }}</a>
    </li>
    <li class="nth">...</li>
    <button (click)="next()">&#187;</button>
    <li>
      <a href="#">{{ total }}</a>
    </li>
  </ul>
</div>
