.container {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: rgb(228, 224, 224);
  flex-direction: column;
  align-items: center;
}
h3 {
  position: relative;
  display: flex;
  justify-items: center;
  padding: 10px;
}
