<div class="container" >
  <h3>Total Result:{{ totalResult }}</h3>
  <ul *ngFor="let listMember of list">
    <app-list
      [userName]="listMember.login"
      [url]="listMember.url"
      [imgs]="listMember.avatar_url"
      [scores]="listMember.score"
    ></app-list>
  </ul>
</div>
