<div class="container">
  <div class="header">
    <app-header
      (messageEvent)="receiveName($event)"
      (sortBy)="receiveSortByValue($event)"
    ></app-header>
  </div>
  <div class="body">
    <app-body
      [searchUserName]="searchName"
      [sortBy]="sortByValue"
      [pageNo]="pNo"
      (totalCount)="receiveTotalCount($event)"
    ></app-body>
  </div>
  <div class="footer">
    <app-footer
      (page_num)="receivePageNum($event)"
      [totalSearch]="totalCount"
    ></app-footer>
  </div>
</div>
