<div class="container">
  <div class="profile">
    <img src="{{ imgs }}" alt="imagessss" class="imgs" />
  </div>
  <div class="details">
    <h2 class="name">{{ userName | titlecase }}</h2>
    <p class="url">Profile URL: {{ url }}</p>
    <p>Scores:{{ scores }}</p>
    <button type="button" class="btn" (click)="showDetails()">Details</button>

    <div *ngIf="!isShow">
      <div class="grid-container" *ngFor="let re of repos">
        <p class="grid-item">{{ re.name }}</p>
        <p class="grid-item lang">{{ re.language }}</p>
      </div>
    </div>
  </div>
</div>
