.container {
  display: flex;
  background-color: rgb(238, 236, 236);
  width: 500px;
  /* height: auto; */
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
  align-content: center;
}

.imgs {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid gray;
}

.profile {
  order: 1;
}

.details {
  padding: 10px;
  order: 2;
}

.details p {
  font-family: "Lato";
  font-size: 14px;
}

.details h2 {
  font-family: "Lato";
  font-size: 16px;
}

.btn {
  width: 100px;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(14, 110, 194);
  color: white;
  font-size: 14px;
}
.btn:hover {
  opacity: 0.8;
}

.grid-container {
  /* display: grid;
  grid-template-columns: auto auto; */
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(125, 158, 178);
  border-radius: 10px;
  grid-column-gap: 30px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.grid-items {
  flex-direction: row;

  width: 160px;
  font-size: 18px;
}

.lang {
  align-items: flex-end;
}
